.books-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.book-container-inner{
  /* border: 1px solid black; */
  border-radius: 40px;
  overflow: hidden;
  /* margin-left: 50px; */
  /* margin-top: 50px; */
  cursor: pointer;
  background: #e2e2e2;
  box-shadow: 0 0 10px 4px #c4c4c4;
  /* height: 600px; */
  padding: 35px;
  margin: 20px;
  transition: transform 0.3s;
}
.book-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-container img{
    margin-bottom: 20px;
    border-radius: 20px;
}
.book-container img:hover{
    /* transform: scale3d(1.1, 1.1, 1.1); */
}

.title{
    color: #797979;
}

.borrow-btn{
    background: #0baa0b;   
    box-shadow: 0 0 7px 2px #0baa0b;

    color: white;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-top: 15px;
}

.delete-btn{
    background: transparent;
    color: black;
    width: 45%;
    border-radius: 20px;
    box-shadow: 0 0 7px 2px red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-top: 10px;
}

.delete-btn, .borrow-btn, .options-btn{
    transition: transform 0.2s;

}

.delete-btn:hover, .borrow-btn:hover, .options-btn:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    color:white;
}

.delete-btn:hover{
    background: red;
}

.options-btn:hover{
    background: #5670ff;
}

.b-btns-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.give-back-btn{
    background: rgb(115, 129, 255);
    /* color:black; */
    box-shadow: 0 0 7px 2px #5670ff;

}
.options-btn{
    background: transparent;
    color: black;
    width: 45%;
    border-radius: 20px;
    box-shadow: 0 0 7px 2px #5670ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-top: 10px;
    margin-left: 30px;
}
